.before-after-section {
    width: 100%;
    background-color: #59e5ad;
    padding: 4rem 0;
}


.before-after-cards {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.section-title {
    font-size: 2.4rem;
    color: #eee;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

